main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
}

.myCol{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}